.containerHome{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}
.inContainerHome{
     text-align: center;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inContainerHome h1{
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 45px;
    
}
.inContainerHome p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    max-width: 800px;
}
.buttonContainerHome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

}
.buttonHomeA{
    background-color: #0366D6;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}
.buttonHomeA:hover{
    background-color: #0056b3;
}
.buttonHomeB{
    background-color: #e9e9e9;
    color: black;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}
.buttonHomeB:hover{
    background-color: #8da592;
}

/* Tablet Responsiveness */
@media screen and (max-width: 768px) {
    .inContainerHome h1 {
        font-size: 2.5rem;
    }
    
    .inContainerHome p {
        font-size: 1rem;
        padding: 0 15px;
    }
    
    .buttonContainerHome {
        gap: 10px;
    }
    
    .buttonHomeA, .buttonHomeB {
        padding: 12px 15px;
        font-size: 0.9rem;
    }
}

/* Mobile Responsiveness */
@media screen and (max-width: 480px) {
    .containerHome {
        padding: 15px;
    }
    
    .inContainerHome h1 {
        font-size: 1.8rem;
        margin-top: 10px;
    }
    
    .inContainerHome p {
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
    
    .buttonContainerHome {
        /* flex-direction: column; */
        gap: 10px;
    }
    
    .buttonHomeA, .buttonHomeB {
        font-size: 0.8rem;
        max-width: 250px;
        padding: 10px 10px;
    }
}