.containerLanguages {
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.titleLanguages{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 50px;
}
.resultCountLanguages{
    font-size: 1.2rem;
    /* margin-bottom: 20px; */
}
.languagesGrid{
    width: 100%;
    height: auto;
}
.languageCard{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;

    /* max-height: 400px; */
    /* margin-top: 20px; */
     /* border: 1px solid #e0e0e0; */
}
.languageImage{
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}
.languageDescription{
    margin-top: 10px;
}
.detailButton{
    /* display: inline-block; */
    display: flex;
    align-items: center;
    text-decoration: none;
    /* border-radius: 5px; */
    font-size: 1rem;
    /* margin-top: 10px; */
}
@media screen and (max-width: 640px) {
    .containerLanguages{
        max-width: 100%;
        padding: 0 10px;
    }
    .titleLanguages{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 40px;
}
.resultCountLanguages{
     font-size: 1rem;
    margin-bottom: 15px;
}
.languageCard{
    width: 100%;
    height: 100%;
    /* max-height: 300px; */
    margin-bottom: 10px;
    margin-top: 20px;
   
}
.languageImage{
    width: 100%;
    height: 100%;
    max-height: 220px;
    object-fit: cover;
}
}
@media screen and (max-width: 480px) {
   .containerLanguages{
        padding: 0 8px;
    }
    .titleLanguages{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.languageImage{
    width: 100%;
    height: 100%;
    max-height: 180px;
    object-fit: cover;
}
}